body {
    background-color: darkgray;
    margin: 0;
}

#carCanvas {
    background-color: #2a5;
}

#networkCanvas {
    background-color: black;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}